/* Global styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #0f172a;
  --secondary-color: #3b82f6;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
